# dependencies
/node_modules
/.pnp
.pnp.*

# next
/.next/
/out/
next-env.d.ts

# production
/build

# env
.env
.env*.local

# misc
.DS_Store
*.pem
npm-debug.log*
.vercel
*.tsbuildinfo

# claude local dev config
.claude/
